<center>
<h1>{{project_name}} - {{phase_name}} - {{iteration_name}} - {{activity_type}}</h1>

<form method="POST" action='.'>{% csrf_token %}
	Source Lines of Code: <input type="text" name="sloc"><br><br>
	Defects Injected/Removed: <input type="text" name="defects"><br><br>
	Duration (s): <input type="text" name="duration"><br><br>
	<input type="submit" value="submit" name="edit_metrics"><br><br>
</form>
<br><br>
Duration (s): {{duration}}<br><br>
Source Lines of Code: {{sloc}}<br><br>
Defects Injected/Removed: {{defects}}<br><br>

</center>