<!DOCTYPE html>
<html lang="en">
<form action="/developerinceptioniterations/" form method="POST">{% csrf_token %}
        <input name ="iteration_1"type="submit" value="Inception Phase">
   </form>
   <form action="/developerelaborationiterations/" form method="POST">{% csrf_token %}
        <input name ="iteration_1"type="submit" value="Elaboration Phase">
   </form>
   <form action="/developerconstructioniterations/" form method="POST">{% csrf_token %}
        <input name ="iteration_1"type="submit" value="Construction Phase">
   </form>
   <form action="/developertransitioniterations/" form method="POST">{% csrf_token %}
        <input name ="iteration_1"type="submit" value="Transition Phase">
   </form>
</html>