<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <h3>{{title}}</h3>

    {% if form.errors %}
        <p class="error">Invalid username/password</p>
    {% endif %}

    <form method="POST" action="/auth/">{% csrf_token %}
       <!-- {{form.as_p}}-->

        <label for="username">User name:</label>
        <input type="text" name="username" value="" id="username">
        <br/>
        <label for="password">Password:</label>
        <input type="password" name="password" value="" id="password">
        <br/>
        <input type = 'submit' value = 'Log In'/>

    </form>

</body>
</html>