<form action="/minceptionopen/" form method="POST">{% csrf_token %}
        <input name ="iteration_1"type="submit" value="Open">
   </form>
   <form action="/minception/" form method="POST">{% csrf_token %}
        <input name ="iteration_1"type="submit" value="Close">
   </form>
   <form action="/minception/" form method="POST">{% csrf_token %}
        <input name ="iteration_1"type="submit" value="View Metrics">
   </form>
   <!--change minception above to actual related functions-->
   <form action="/mconstructioniterations/" form method="POST">{% csrf_token %}
        <input name ="iterations"type="submit" value="Iterations">
   </form>