<h1>Construction iterations</h1>

<form action="/mconstructioniterations/" form method="POST">{% csrf_token %}
        <input name ="iteration_1"type="submit" value="Iteration1">
   </form>
   <form action="/mconstructioniterations/" form method="POST">{% csrf_token %}
        <input name ="iteration_2"type="submit" value="Iteration2">
   </form>
   <form action="/mconstructioniterations/" form method="POST">{% csrf_token %}
        <input name ="iteration_2"type="submit" value="Iteration2">
   </form>